.dashboard {
  padding: 30px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px;
  margin-bottom: 20px;
}

.dashboard-title {
  text-align: center;
  margin: 10px 0 0 0;
}

.add-button-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.add-button {
  background-color: #184f33;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #007a29;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
  z-index: 10000;
  scale: 85%;
}

.close-button {
  position: absolute;
  top: 36px;
  right: 28px;
  background: transparent;
  border: none;
  padding: 4px;
  font-size: 26px;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #000;
}

.dashboard-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 40px;
}

.dashboard table {
  width: 100%;
}

@media (max-width: 900px) {
  .dashboard {
    padding: 20px;
  }

  .dashboard-container {
    padding: 10px 20px;
  }

  .dashboard-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .add-button-row {
    justify-content: center;
  }

  .add-button {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .dashboard {
    padding: 15px;
  }

  .dashboard-title {
    font-size: 18px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
  }
}
